cartopy==0.21.1
lightgbm==3.3.5
matplotlib==3.7.1
mayavi==4.8.1
missingno==0.5.2
mlflow==2.3.2
mlxtend==0.22.0
networkx==3.1
numpy==1.23.5
optuna==3.1.1
pandas==2.0.1
Pillow==9.5.0
Pillow==9.5.0
scikit_learn==1.2.2
scikit_optimize==0.9.0
scipy==1.10.1
seaborn==0.12.2
tensorflow==2.12.0
